@charset "utf-8";
/* CSS Document */
/* Work section */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

:root {
    --white: #fff;
    --black: #383838;
    --brown: #C4BFB6;
    --green: #BBC4B6;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
	max-width: 100%;
}

/* --------GENERAL STYLES--------*/

h1 {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center
}

h2 {
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 300;
}


a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--black);
}

a:-webkit-any-link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--black);
}

#navbar {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    transition: top 0.6s;
    height: 10vh;
}

#logo {
    display: flex;
    float: left;
    padding-left: 6.5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-content: center;
}

#logo img {
    width: 70%;
}

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 6.5vw;
    float: right;
}

#navbar .nav-a {
    color: var(--black);
    text-decoration: none;
    font-size: 1vw;
    padding-left: 4vw;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

#navbar a:hover {
    color: var(--green);
}

#navbar .nav-active {
     color: var(--black);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1vw;
    padding-left: 4vw;
    font-weight: 700;
}

.featured {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 50vh;
    position: relative;}

.carousel-track-container {
    position: absolute;
    display: grid;
    grid-template-rows: 100vh;
    width: 100vw;
    height: 80vh;
    grid-row: 1;
    overflow: hidden;
}

.featured--worksingle {
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 50vh;
    position: relative;
}
.carousel-track-container--worksingle {
    position: absolute;
    display: grid;
    grid-template-rows: 50vh;
    width: 100vw;
    height: 50vh;
    grid-row: 1;
    overflow: hidden;
	padding-bottom: 5vh;
}

.carousel_track {
    display: flex;
    flex-flow: row;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;

}
.carousel_track-work_single{
	display: flex;
    flex-flow: row;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: relative;
    display: flex;
    width: 50vw;
    flex-flow: column;
    align-content: center;
}

.carousel-slide img {
	width: 33vw;
    position: relative;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8.5vw;
    margin-left: 8.5vw;
	cursor: pointer;
}
.featuredimage_work{
	width: 33vw !important;
	height: 19vw !important;
	object-fit: cover !important;
}

.caroselnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 2;
    padding-top: 5vh;

}

.caroselnavbutton {
    border-radius: 50%;
    height: 1vw;
    width: 1vw;
    background-color: black;
    margin-right: 1vw;
    margin-left: 1vw;
    border-style: none;

}

.carousel_button {
    width: 3vw;
    position: absolute;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.carousel_button--left {
    left: 2em;
    z-index: 100;
}

.carousel_button--right {
    right: 2em;
    z-index: 100;
}


/* store carousel */

/*
#store {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5vh;
}
*/

.scrollarrow {
    width: 3.5vw;
    height: auto;
    justify-self: center;
    grid-row: 3;
    animation-name: angry-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    cursor: pointer;
    transform: translate(-50%, 0%) rotate(45deg);
}


@keyframes angry-animation {
    0% {
        -webkit-transform: translateY(-10vh);
        transform: translateY(-10vh);
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(-5vh);
        transform: translateY(-5vh);
        opacity: 0;
    }
}

.storefeatured {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 50vh;
    position: relative;
}

.storecarousel-track-container {
    position: absolute;
    display: grid;
    grid-template-rows: 100vh;
    width: 100vw;
    height: 80vh;
    grid-row: 1;
    overflow: hidden;
}

.storecarousel_track {
    display: flex;
    flex-flow: row;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;

}

.storecarousel-slide {
    position: relative;
    display: flex;
    width: 50vw;
    flex-flow: column;
    align-content: center;
}

.storecarousel-slide img {
    width: 33vw;
    position: relative;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8.5vw;
    margin-left: 8.5vw;
	cursor: pointer;
}

.storecaroselnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 2;
    padding-top: 5vh;

}

.storecaroselnavbutton {
    border-radius: 50%;
    height: 1vw;
    width: 1vw;
    background-color: black;
    margin-right: 1vw;
    margin-left: 1vw;
    border-style: none;

}

.storecarousel_button {
    width: 3vw;
    position: absolute;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.storecarousel_button--left {
    left: 2em;
    z-index: 100;
}

.storecarousel_button--right {
    right: 2em;
    z-index: 100;
}

.poster {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.seemore {
    justify-self: center;
}

.hidden {
    display: none;
}



/*-----STORE MAIN PAGE STYLE-----*/

#store {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 2em;
    padding-top: 5vh;
    padding-left: 6.5vw;
    padding-right: 6.5vw;
	padding-bottom: 7em;
}
/*
p.bodyinfo {
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 2vw;
}
*/

/*
#store p{
    display: none;
}
*/


/*-----STORE SINGLE PAGE STYLE-----*/

#store-single {
    display: grid;
    grid-template-columns: 1fr 1fr;
/*    grid-template-rows: 1fr;*/
    padding-left: 6.5vw;
    padding-right: 6.5vw;
    padding-top: 6.5vw;
/*    padding-bottom: 6.5vw;*/
}

.store-single-img {
    grid-column: 1;
	grid-row: 1;
    width: 43.5vw;
    height: 38vw;
    object-fit: cover;
}

.storesingle-infowrapper {
    grid-column: 2/3;
/*    height: 50vw;*/
	width: 43.5vw;
    height: 38vw;
    background-color: var(--black);
}


.storesingle-infowrapper h1.title {
    font-size: 1.5vw;
    color: var(--white);
    margin: 0;
    padding-left: 5vw;
    padding-top: 5vw;
	
}

.storesingle-infowrapper p.dimentions {
    margin: 0;
    font-size: 1.3vw;
    color: var(--white);
    padding: 1vw 5vw;
}

.storesingle-infowrapper p.bodyinfo {
    font-size: 1.1vw;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 1vw 5vw;
/*    text-align: center;*/
    text-transform: none;
}

.storesingle-infowrapper p.price {
    font-size: 2vw;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: 1vw 5vw;
/*    text-align: center;*/
    text-transform: none;
}

#arrow {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    width: 100vw;
    justify-content: center;
    margin: 1.5vw 0;
}

#arrow img {
    width: 2vw;
}

#arrow p {
    color: var(--black);
    text-decoration: none;
    font-size: 1vw;
    margin: 0;
    padding: 0;
	padding-left: 1vw;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}






/*-----WORK PAGE STYLE-----*/

#work {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 2em;
    padding-top: 5vh;
    padding-left: 6.5vw;
    padding-right: 6.5vw;
	padding-bottom: 7em;
}
#workindex{
	 display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 2em;
    padding-top: 5vh;
    padding-left: 6.5vw;
    padding-right: 6.5vw;
	padding-bottom: 7em;
}

img.poster{
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    padding-right:2vw;
    padding-left:2vw;
}

a.seemore {

}
p.price{
   font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
    padding-left: 2vw;	
}
h1.title {
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
    padding-left: 2vw;
}

p.dimentions {
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 2vw;
}

p.workyearmade {
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 2vw;
}
/*
h1 {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center
}

h2 {
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 500;
}
*/


/*work single product */


#workSingle {
    display: grid;
grid-template-columns: 50vw 50vw;
grid-template-rows: 100vh auto;
justify-content: center;
text-align: left;
padding-bottom: 3.5vw;
}

.worksingletitle {
    font-size: 3em;
}

.singleWorkPoster {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.workSingleinfowrapper {
    grid-row: 2;
    grid-column: 1;
    font-size: 2em;
    padding-left: 10vw;
}

.Woroksinglebodyinfo {
    grid-column: 2;
    font-size: 2em;
    grid-row: 2;
    padding-top: 1em;
    padding-right: 10vw;
}

.mediumnav {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.mediumselect {
    padding-right: 2vw;
    padding-left: 2vw;
    cursor: pointer;
}

.mediumselect {
    color: var(--black);
    text-decoration: none;
    font-size: 1vw;
    padding-left: 4vw;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.mediumselect:hover {
    color: var(--green);
}

.mediumselect .nav-active {
    font-size: 1vw;
    font-weight: 700;
}

.worksingletitle {
     color: var(--black);
    text-decoration: none;
    font-size: 3vw;
    margin: 0;
    padding-top: 6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

h2.worksingle-year,.worksingle-location  {
        font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

p.Woroksinglebodyinfo {
    color: var(--black);
    text-decoration: none;
    font-size: 1.3vw;
    margin: 0;
    padding: 5vw 6.5vw 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: none;
}




/* footer style */
.footer-content {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    background-color: var(--black);
    color: var(--white);
    height: 30vh;
		font-weight: 300;
}

.footer-content a,
li {
    text-decoration: none;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    align-self: center;
    padding: 1vh 0;
		font-weight: 300;
}

.footer-content a:visited {
    text-decoration: none;
    color: var(--white);
		font-weight: 300;
}

.footer-content a:hover {
    color: var(--green);
		font-weight: 300;
}

.footer-logo {
    list-style: none;
    grid-column: 1/2;
    padding: 3vh 0 0 6.5vw;
}

.footer-logo img {
    width: 15vw;
}

.footer-links {
    list-style: none;
    grid-column: 3/4;
    padding: 3vh 1vw 0 0;
		font-weight: 300;
}

.footer-contact {
    list-style: none;
    grid-column: 2/3;
    padding: 3vh 1vw 0 0;
		font-weight: 300;
}

.footer-contact span {
    text-transform: none;
		font-weight: 300;
}

.footer-some {
    list-style: none;
    grid-column: 4/5;
    padding: 3vh 8vw 0 0;
	font-weight: 300;
}


/* Homepage style */

.home-first-section {

    background: url(graphics/video-screen2.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;

    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    padding-right: 6.5vw;
	padding-left:6.5vw;
	margin-top: 10vh;
    background-color: var(--white);
    overflow-x: hidden;
}

.home-second-section {
    box-sizing: border-box;
	position: relative;
    height: 45vw;
	
    width: 100vw;
    margin: auto;
    background-color: var(--green);
    overflow-x: hidden;
    text-align: center;
    /*    padding: 15vw 20vw;*/
    padding: 10vh 20vw;
	margin-top:10vh;
    overflow-y: hidden;
}


.home-second-section p {
	position: absolute;
	right: 50%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 1vh;
    line-height: 1.5;
    text-align: center;
	max-width: 35vw;
    text-transform: none;
transform: translateX(50%);}

.container {
    width: 90%;
    margin: auto;
}

.home-third-section {
	position: relative;
    height: 85vh;
    padding: 10vh 8vw;
    text-align: center;
}
.fixthis {
    color: var(--black);
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding: 2.5vw 0;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

/* -------- BUTTONS STYLE -------- */

.read-more-btn {
	position: absolute;
    width: 10vw;
	transform: translate(50%, 450%);
	right: 50%;
}


.read-more-btn:hover {
    opacity: 1;
    content: url(graphics/buttons/Read-more-hovered.svg);
	position: absolute;
    width: 10vw;
	transform: translate(50%, 350%);
	right: 50%;
    animation-name: btnhover;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes btnhover {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 1;
    }
}

.buy-btn {
    width: 25%;
    padding: 2vw 0 0 5vw;
	transform: translateY(-2vw);
}


.buy-btn:hover {
    opacity: 1;
    content: url(graphics/buttons/Buy-WHITE-hover.svg);
    width: 25%;
    animation-name: btnhover;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}


.indexworkinfo img{
	width: 20vw;
    height: 20vw;
    object-fit: cover;
    padding-right: 2vw;
    padding-left: 2vw;
}
.indexworkinfo{
	text-align: left;
}
.indexcarousel_track{
	display: flex;
    flex-flow: row;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;
}
.indexcarousel_track div{
	
}
.indexseemore{
	position: absolute;
	cursor: pointer;
  width: 10vw;
	right: 50%;
	transform: translate(50%, -20%);}

.indexseemore:hover{

    opacity: 1;
    content: url("graphics/buttons/See-more-hovered.svg");
    width: 10vw;
    animation-name: btnhover;
    animation-timing-function: ease-in;
    animation-duration: 1s;
		position: absolute;
	cursor: pointer;
 transform: translate(50%, -20%);
	right: 50%;
}
@keyframes btnhover {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 1;
    }
}
.about-first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
    overflow-x: hidden;
}

#about-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    background-color: var(--white);
    align-content: center;
    padding: 10vh 6.5vw;
    height: 100vh;
    width: 100vw;

}

#about-text p {
    color: var(--black);
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0 0 0 0;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
}

#about-text p:nth-child(2) {
    padding-left: 5vw;
}

.about-second-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 10vh 6.5vw;
    margin: 0;
    background-color: var(--brown);
    overflow-x: hidden;
}


.about-second-section h2 {
    color: var(--white);
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding: 2.5vw 0;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
}

.about-second-section li {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    text-transform: none;
    align-self: left;
    padding: 1vw 0;
    margin: 0;
}
.about-second-section a {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    text-transform: none;
    align-self: left;
    padding: 1vw 0;
    margin: 0;
}
/*
#logo{
	padding: 0;
}
*/
#agents a:nth-child(1) {
    color: var(--white);
}

#contact a {
    color: var(--white);
}

#agent1{
	width: 50%;
	float: left;

}
#agent2{
	width: 50%;
	float:right;
}
.about-second-section h3{
	 font-size: 1.5vw;
	    font-weight: 500;
	 color: var(--white);
}
.about-second-section p {
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-weight: 300;
    padding-right: 10vw;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
    padding: 0;
	height: 5em;
}

.about-second-section ul {
    margin: 0vw;
    padding: 0;
}
#esben{
padding-top: 0.01vw;
}
#burger{
	display: none;
}
.featuredsmall{display: none;}
@media only screen and (max-width: 376px) {
  #workSingle {
  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: 50vh 10vh 10vh;
  }
	#navbar{
		display: none;
	}
	.featured{
		display: none;
	}
/*
	#navbar{
		display: flex!important;
		flex-direction: row;
		justify-content: center!important;
		flex-wrap: wrap!important;
		padding: 0;
	}
	nav a{
		font-size: 5vw!important;
		
	}
	#logo{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	#logo img{
		width: 80vw;
		height: auto;
	}
*/
	#logo-burger img{
		width: 50vw;
		height: auto;
		padding-top: 1vh;
	}
	#sidebarMenu{
		padding-top: 4vh;
	}
	#sidebarMenuInner ul, a{
		font-size: 5vw;
	}
	.featured--worksingle{
		padding-top: 6vh!important;
	}
	.singleWorkPoster{
		width: 100vw;
		height: 50vh;
		object-fit: cover;
	}
	.workSingleSeemore{
		grid-row:1;
	}
	.workSingleinfowrapper{
		grid-row: 2;
		padding-left: 6.5vw!important;
	}
	.worksingletitle{
		font-size: 8vw;
	}
	.worksingle-year{
		font-size: 6vw!important;
		line-height: 0;
	}
	.Woroksinglebodyinfo{
		width: 90vw!important;
		font-size: 4vw!important;
		line-height: 4vw;
		grid-row: 3;
		grid-column: 1;
		padding-bottom: 0;
		padding-left: 6.5vw!important;
	}
	.worksingle-location{
		font-size: 4vw!important;
		line-height: 4vw;
	}
	.featured--worksingle{
		width: 100vw;
		height: 10vh;
	}
	.carousel-track-container--worksingle{
		height: 10vh;
		
	}
	.carousel_track-work_single{
		height: 10vh;
		
	}
	footer{
		margin-top: 5vh;
		padding-top: 0vh;
		height: 20vh!important;
		bottom: 0!important;
	}
	#burger{
		z-index: 100;
	display: flex;
	justify-content: space-around;
	padding-top: 2vh;
	height: 7vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);}
.header {
	top: 0;
	display:flex;
	flex-flow: row;
	align-content: space-around;
	align-items: baseline;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
   background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    height: 60px;
    overflow: hidden;
    z-index: 10;}
	.home-first-section{
		height: 20vh;
		max-width: 100%;
	}
	.home-second-section{
	margin-top: 5vh;
		max-width: 100%;
		padding-top: 2vh;;
		height: 100vh;
		display: grid;
		position: relative;
		grid-template-rows: 4vh auto auto;
	}
	.home-second-section h1{
		font-size: 5vw;
		height: auto;
		grid-row: 1;
	}
	.home-second-section p{
		grid-row: 2;
		width: 80vw!important;
		max-width: 80vw!important;
	}
	.read-more-btn{
		transform: translate(20vw, 80vh);
		grid-row: 3;
		bottom: 5;
		width: 40vw;
		height: auto;
	}
	.home-third-section{
		max-width: 100%;
		padding: 0;
		display: grid;
		height: 50vh;
		grid-template-rows: 12vh 33vh 20vh
	}
	.fixthis{
		padding: 0;
		grid-row:1;
		font-size: 5vw;
		padding-bottom: 0;
		margin-top: 5vh;
		max-height: 1vh;
	}

	.mediumnav{
		max-width: 100%;
	padding-bottom: 4vh
	}
	.scrollarrow{
		display: none;
	}
	.mediumnav h2{
	font-size: 2.5vw;
	}
	#work{
		padding: 0;		
		grid-template-columns: 1fr 1fr;
		max-width: 100%;
	}
	#workindex{
		display: none;
	}
	#workindexsmall{
	display: grid;
    height: auto;
    grid-template-columns: 1fr;
	grid-row-gap: 2em;
    padding-left: 6.5vw;
    padding-right: 6.5vw;
	padding-bottom: 0;
	padding-top: 0;
}
	.seemore img{
		width: 40vw;
		height: 40vw;
		object-fit: cover
	}
	.indexseemore{
		grid-row: 3;
		padding-bottom: 0;
		padding-top: 0;width:40vw;
		
	}
	.infowrapper h1{
		font-size: 4vw;
	}
	.infowrapper p{
		font-size: 4vw;
	}
	footer li{
		font-size: 2vw;
	}
	.footer.footer-links li, a{font-size:  2vw;}
	
	
/*
.logoheader img{
	justify-self:baseline;
	height: 3.5vh;
	width: auto;}
*/
	.sidebarIconToggle{
		padding-top:1vh;
		margin-left: 4vw;
		}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 35vw;
	margin-top: 7vh;
    transform: translateX(-50vw);
    transition: transform 250ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
	font-size: 1.5em;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{

    list-style: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: black;
}
.sidebarMenuInner li a{
		font-size: 4vw!important;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
	position: fixed;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
	}
		.featuredsmall{
		max-width: 100%;
		height: 40vh;
	 display: grid;
    grid-template-rows: auto;
    grid-row-gap: 50vh;
    position: relative;}
	.carousel_tracksmall{height: 40%;}
	
	.carousel-track-containersmall{
	max-width: 100%;
	position: absolute;
    display: grid;
    grid-template-rows: 100vh;
    width: 100vw;
    height: 80vh;
    grid-row: 1;
    overflow: hidden;
	}

.carousel_tracksmall {
    display: flex;
    flex-flow: row;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;}
.carousel-slidemall {
    position: relative;
    display: flex;
    width: 50vw;
    flex-flow: column;
    align-content: center;
}

.carousel-slidesmall img {
	width: 100vw;
    position: relative;
    height: auto;
	cursor: pointer;
	}}







